</main>

<footer class="fixed-bottom bg-light text-end pt-2">
    <div class="container d-flex justify-content-between">
        <div>
            Rappel nav ?
        </div>

        <div>
            <p>&copy; 2024 - AppTest - Julie DELEGLISE</p>
        </div>
    </div>
</footer>

</body>

</html>
