<%- include("_header") -%>
<div class="container">
    <h1>Ajout de données via des fichiers .csv</h1>

    <div class="table-responsive-sm">
        <table class="table table-hover">
            <thead>
            <tr>
                <th>Type d'action</th>
                <th>Fichier</th>
                <th>Exécuter l'action</th>
            </tr>
            </thead>
            <tbody>

            <!-- LOTS -->
            <tr>
                <td>Ajouter les lots</td>
                <form action="/csvScripts/addLots" method="post" enctype="multipart/form-data">
                <td>
                        <div class="form-group">
                            <input type="file" class="form-control-file" id="file" name="file">
                        </div>
                    </td>
                    <td>
                        <input class="btn btn-success" type="submit" value="Ajouter des lots">
                    </td>
                </form>
            </tr>


            </tbody>
        </table>
    </div>

</div>


<%- include("_footer") -%>
