<%- include("_header") -%>
<div class="album py-5">
    <div class="container">
        <form action="/tirage" method="post">
            <div class="form-horizontal">

                <div class="form-group row">
                    <label class="col-form-label col-sm-6">Éxécuter le tirage au sort</label>
                    <div class="col-sm-6">
                        <input type="submit" value="Tirage au sort" class="btn btn-default btn-success w-100" />
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<%- include("_footer") -%>
