<%- include("_header") -%>
<div class="container py-5">
    <h1>Ajout de données via des fichiers .csv</h1>

    <div class="table-responsive-sm">
        <table class="table table-hover">
            <thead>
            <tr>
                <th>Type d'action</th>
                <th>Fichier</th>
                <th>Exécuter l'action</th>
            </tr>
            </thead>
            <tbody>

            <!-- LOTS -->
            <tr>
                <td>Ajouter les lots</td>
                <form action="/csvScripts/addLots" method="post" enctype="multipart/form-data">
                    <td>
                        <div class="form-group">
                            <input type="file" class="form-control-file" id="file" name="file">
                        </div>
                    </td>
                    <td>
                        <% if(areThereLots){ %>
                            <p>Il y a déjà des lots dans la base de données</p>
                        <%} else{ %>
                            <input class="btn btn-success" type="submit" value="Ajouter des lots">
                        <% } %>
                    </td>
                </form>
            </tr>

            <!-- ÉLÈVES -->
            <tr>
                <td>Ajouter les élèves</td>
                <form action="/csvScripts/addEleves" method="post" enctype="multipart/form-data">
                    <td>
                        <div class="form-group">
                            <input type="file" class="form-control-file" id="file" name="file">
                        </div>
                    </td>
                    <td>
                        <% if(areThereEleves){ %>
                            <p>Il y a déjà des élèves dans la base de données</p>
                        <%} else{ %>
                            <input class="btn btn-success" type="submit" value="Ajouter des élèves">
                        <% } %>
                    </td>
                </form>
            </tr>


            </tbody>
        </table>
    </div>

</div>


<%- include("_footer") -%>
